body {
  margin: 50;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ol, ul {
  padding-left: 30px;
}

.box:after {
  clear: both;
  content: "";
  display: table;
}

.box {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  border: 0.5px solid black;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.status {
    margin-bottom: 10px;
}

.cell {
    background: none;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    width: 50px;
    padding: 0;
    text-align: center;
    color: #7875E6;
}

.typable {
    border: 3px solid #7875E6;
    /* background-color: #EEEEEE; */
}

.not-editable {
    color: black;
}

.cell:focus {
  outline: none;
}

.kbd-navigation .cell:focus {
  background: #ddd;
}

.game {
  display: block;
}

.game-info {
  display: block;
  margin: 20px;
}
