body {
    margin: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box:after {
    clear: both;
    content: "";
    display: table;
}

.box {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    border: 0.5px solid black;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.cell {
    background: none;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    width: 50px;
    padding: 0;
    text-align: center;
    color: #7875E6;
}

.cell:focus {
    outline: none;
}

.highlighted {
    background-color: #EEEEEE;
}

.typable {
    border: 3px solid #7875E6;
}

.not-editable {
    color: black;
}

.game {
    display: block;
}

.game-info {
    width: 450px;
    text-align: center;
    display: block;
    margin-top: 50px;
    font-weight: bold;
    color: #AAAAAA;
}
